* {
  box-sizing: border-box;
  background-color: #444;
}
body {
  margin: 0;
}
h1 {
  text-align: center;
  color: #bbb;
  text-transform: uppercase;
}
ul {
  height: 18.875em;
  width: 30em;
  margin: 5em auto;
  padding: 3em 3em 0;
  position: relative;
  background-color: black;
  border-radius: 22px;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.whiteKey {
  height: 16em;
  width: 3em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}
.whiteKey:active {
  background: linear-gradient(
    to right,
    rgb(243, 243, 243) 0%,
    rgb(206, 204, 204) 100%
  );
}
.blackKey {
  height: 10em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  color: white;
  background: #444;
}
.blackKey:active {
  background: linear-gradient(to right, #444 0%, #222 100%);
}
#D4,
#E4,
#G4,
#A4,
#B4 {
  margin: 0 0 0 -1em;
}
ul li:first-child {
  border-radius: 5px 0 5px 5px;
}

ul li:last-child {
  border-radius: 0 5px 5px 5px;
}
